body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#todo-input, #label-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 5px;
}

#label-input {
    flex: 0.5;
}

#add-btn, #group-btn {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    flex-shrink: 0;
}

#add-btn {
    background: #5cb85c;
}

#add-btn:hover {
    background: #4cae4c;
}

#group-btn {
    background: #f0ad4e;
    margin-left: 5px;
    white-space: nowrap;
}

#group-btn:hover {
    background: #eea236;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    margin-right: 10px;
}

.todo-item span:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-label {
    background-color: #ddd;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 12px;
    margin-left: 10px;
    flex-shrink: 0;
}

.button-container {
    display: flex;
    flex-shrink: 0;
}

li .edit-btn {
    background: #f0ad4e;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
}

li .edit-btn:hover {
    background: #eea236;
}

li .delete-btn {
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
}

li .delete-btn:hover {
    background: #d43f3a;
}

.todo-group {
    margin-bottom: 20px;
}

.todo-group h2 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.todo-group ul {
    padding-left: 0;
}
